<div class="content controls">
  <h2>{{texts.controls.general.title}}</h2>
  <ul>
    <li>
      <span>esc</span>
      <span>{{texts.controls.general.l1}}</span>
    </li>
  </ul>
</div>
<div class="content controls">
  <h2>{{texts.controls.game.title}}</h2>
  <ul>
    <li>
      <span>a-z</span>
      <span>{{texts.controls.game.l1}}</span>
    </li>
    <li>
      <span>esc</span>
      <span>{{texts.controls.game.l2}}</span>
    </li>
    <li>
      <span>enter</span>
      <span>{{texts.controls.game.l3}}</span>
    </li>
  </ul>
</div>